<div class="home-page">
  <div id="welcomeCard">
    <md-card>
      <md-card-header>
        <md-card-title>Angular Templete</md-card-title>
        <md-card-subtitle>Angelix</md-card-subtitle>
      </md-card-header>
      <!--<img md-card-image src="assets/img/welcome/welcome-card.jpg">-->
      <md-card-content>
        <button md-raised-button style="margin-bottom: 24px;" routerLink="/main">Continue</button>
        <div>This is a Angular Material Templete.</div>
      </md-card-content>
    </md-card>
  </div>
</div>
